<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newdraft.mapper.NewsMapper">
    <select id="selectAllNews" resultMap="newsList">
        select e.* FROM(
        select (@rownum:=@rownum + 1) AS num,a.* from
        (select news_id,news_title,news_index,news_type,user_name,news_createTime,news_verifiedTime,news_updatedTime,news_level,news_status FROM  news  INNER JOIN
        users ON users.id=news.news_owner
        where
        news_status=1 order by news_level desc,news_index desc) as a ,(SELECT @rownum:=0) i ) as e limit #{index},#{limit}
    </select>
    <select id="selectAllNewsCount" resultType="java.lang.Long">
<!--        select count(*) from news where news_status=1 order by news_level desc,news_index desc-->
        select count(e.num) FROM(
        select (@rownum:=@rownum + 1) AS num,a.* from
        (select news_id,news_title,news_index,news_type,user_name,news_createTime,news_verifiedTime,news_updatedTime,news_level,news_status FROM  news  INNER JOIN
        users ON users.id=news.news_owner
        where
        news_status=1 order by news_level desc,news_index desc) as a ,(SELECT @rownum:=0) i ) as e
    </select>
    <select id="selectByNewsId" resultMap="newsList">
        select e.* FROM(
        select (@rownum:=@rownum + 1) AS num,a.* from
        (select news_id,news_title,news_text,news_index,news_type,user_name,news_createTime,news_verifiedTime,news_updatedTime,news_level,news_status FROM  news  INNER JOIN
        users ON users.id=news.news_owner
        where
        news_status=1 order by news_level desc,news_index desc) as a ,(SELECT @rownum:=0) i ) as e WHERE num=#{num}
<!--        select news_id,news_title,news_index,news_text,news_type,user_name,news_createTime,news_verifiedTime,news_updatedTime,news_level,news_status FROM news INNER JOIN-->
<!--        users ON users.id=news.news_owner where news_id=#{id}-->
    </select>
    <select id="selectAllNewsList" resultMap="newsList">
        select news_id,news_title,news_index,news_type,user_name,news_createTime,news_verifiedTime,news_updatedTime,news_level,news_status FROM news INNER JOIN
        users ON users.id=news.news_owner
        <where>
            <if test="map.news_status!=0">
                and news_status=#{map.news_status}
            </if>
            <if test="map.userName!=''">
                and user_name=#{map.userName}
            </if>
            <if test="map.news_title!=''">
                and news_title like CONCAT('%',#{map.news_title},'%')
            </if>
        </where>
        limit #{map.index},#{map.limit}
    </select>
    <resultMap id="newsList" type="com.example.newdraft.model.vo.NewsList">
        <id property="news_id" column="news_id"/>
        <result property="num" column="num"/>
        <result property="news_text" column="news_text"/>
        <result property="news_index" column="news_index"/>
        <result property="news_title" column="news_title"/>
        <result property="news_type" column="news_type"/>
        <result property="userName" column="user_name"/>
        <result property="news_createTime" column="news_createTime"/>
        <result property="news_verifiedTime" column="news_verifiedTime"/>
        <result property="news_updatedTime" column="news_updatedTime"/>
        <result property="news_level" column="news_level"/>
        <result property="news_status" column="news_status"/>
    </resultMap>
    <select id="selectAllNewsListCont" resultType="java.lang.Long">
        select count(*) FROM news INNER JOIN
        users ON users.id=news.news_owner
        <where>
            <if test="map.news_status!=0">
                and news_status=#{map.news_status}
            </if>
            <if test="map.userName!=''">
                and user_name=#{map.userName}
            </if>
            <if test="map.news_title!=''">
                and news_title like CONCAT('%',#{map.news_title},'%')
            </if>
        </where>
    </select>
    <update id="updateNewsLevel">
        update news set news_level=#{news_level} where news_id=#{news_id}
    </update>
    <update id="delNews">
        update news set news_status=3 where news_id=#{news_id}
    </update>
    <update id="shang">
        update news set news_status=1 where news_id=#{news_id}
    </update>
    <insert id="add">
        insert into news(news_title,news_text,news_type,news_owner,news_createTime,news_verifiedTime,news_status)values (#{news_title},#{news_text},2,#{news_owner},SYSDATE(),SYSDATE(),1)
    </insert>

    <update id="updateNewsIndex">
        update news set news_index=news_index+1 where news_id=#{news_id}
    </update>


</mapper>