<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newdraft.mapper.UsersMapper">
    <sql id="user">
        id,user_name,user_password,user_phone,user_email,user_photo,user_wechart,user_role,user_status
    </sql>
    <select id="selectUsersByPhoneAndPassword" resultMap="users">
        SELECT
         <include refid="user"/>
         FROM users WHERE user_phone=#{userPhone} AND user_password=#{userPassword} AND user_status='1'and user_role in (5,6)
    </select>
    <resultMap id="users" type="com.example.newdraft.model.pojo.Users">
    <id property="id" column="id"/>
        <result property="userEmail" column="user_email"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userPhoto" column="user_photo"/>
        <result property="userRole" column="user_role"/>
        <result property="userWechart" column="user_wechart"/>
        <result property="userStatus" column="user_status"/>
    </resultMap>
    <select id="selectUsers" resultMap="users">
        select <include refid="user"/>
        from users
        <where>
            <if test="map.users.userName!=null and map.users.userName!=''">
                and user_name=#{map.users.userName}
            </if>
            <if test="map.users.userPhone!=null and map.users.userPhone!=''">
                and user_phone=#{map.users.userPhone}
            </if>
            <if test="map.users.userEmail!=null and map.users.userEmail!=''">
                and user_email=#{map.users.userEmail}
            </if>
            <if test="map.users.userRole!=null and map.users.userRole!=0 and map.users.userRole!=''">
                and user_role=#{map.users.userRole}
            </if>
            <if test="map.users.userRole!=null and map.users.userStatus!=0 and map.users.userStatus!=''">
                and user_status=#{map.users.userStatus}
            </if>
         and user_role not in (5,6)
        </where>
        limit #{map.index},#{map.limit}
    </select>



    <select id="selectUsersCount" resultType="java.lang.Long">
        select count(*)
        from users
        <where>
            <if test="map.users.userName!=null and map.users.userName!=''">
                and user_name=#{map.users.userName}
            </if>
            <if test="map.users.userPhone!=null and map.users.userPhone!=''">
                and user_phone=#{map.users.userPhone}
            </if>
            <if test="map.users.userEmail!=null and map.users.userEmail!=''">
                and user_email=#{map.users.userEmail}
            </if>
            <if test="map.users.userRole!=null and map.users.userRole!=0 and map.users.userRole!=''">
                and user_role=#{map.users.userRole}
            </if>
            <if test="map.users.userRole!=null and map.users.userStatus!=0 and map.users.userStatus!=''">
                and user_status=#{map.users.userStatus}
            </if>
            and user_role not in (5,6)
        </where>
    </select>
    <update id="delUsers">
        update users set user_status=3 where id=#{id}
    </update>
    <update id="qiyong">
        update users set user_status=1 where id=#{id}
    </update>
    <update id="updateUserById">
        update users set user_email=#{userEmail},user_name=#{userName},user_photo=#{userPhoto} where id=#{id}
    </update>
</mapper>